<section>
  <header>
    <strong>{{dateService.date | async | moment:'DD.MM.YYYY'}}</strong>
  </header>

  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks">
        <p>{{task.time}}</p>
        <span> {{task.title}}</span>
        <button class="btn btn-primary" (click)="remove(task)">X</button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p>No tasks yet...</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <label>text description</label>
      <input type="text" formControlName="title">
      <div style="display: flex; justify-content: space-between;">
        <div class="w45">
          <label>Set the time</label>
          <input type="time" formControlName="time">
        </div>
        <div class="w45">
          <label>Years to repeat</label>
          <input type="number" formControlName="repeatTask">
        </div>
      </div>

      <button  type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Add</button>
    </form>
  </footer>
</section>
