<section>
  <header>
    <strong>{{dateService.date | async | moment:'DD.MM.YYYY'}}</strong>
    <hr />
  </header>

  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks">
        <p>{{task.time}}</p>
        <span> {{task.title}}</span>
        <button class="btn btn-primary" (click)="remove(task)">X</button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">No tasks yet...</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title">
      <input type="time" formControlName="time">
      <label>how much years need repeat?</label>
      <input type="number" formControlName="repeatTask">

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >
        Add
      </button>
    </form>
  </footer>
</section>
