


<div class="calendar">
    <div class="calendar_actions">
        <p class="calendar_arrow" (click)="changeMonth(0)">&#x25C2;</p>
        <div>
            <span>{{daysData.year}}</span> / 
            <span>{{allMonths[daysData.month || 0]}}</span>
        </div>
        <p class="calendar_arrow" (click)="changeMonth(1)">&#9656;</p>
    </div>
    <div class="calendar_header">
        <div class="calendar_day calendar_header_day" *ngFor="let day of days | keyvalue">
            {{day.value}}
        </div>
    </div>
    <div class="calendar_cont">
        <div
            class="calendar_day"
            [ngClass]="{'calendar_day--old': !dayData.active, 'calendar_day--current': dayData.current}"
            *ngFor="let dayData of daysData.days"
            (click)="openEvent(dayData)">
            {{dayData.dayNumber}}
        </div>
    </div>
</div>